<div id="question-container" hx-get="/label" hx-trigger="load" hx-target="#question-label">
    <div id="next-question">
        <button
                hx-get="/next_question"
                hx-target="#question-label"
                hx-swap="innerHTML"
                hx-trigger="click"
        >
            Next Question
        </button>
    </div>
    <label for="answer-input" id="question-label"></label>
    <input type="text" id="answer-input" name="answer" placeholder="Type your answer here">
    <button
            hx-get="/submit_answer"
            hx-target="#result"
            hx-include="#answer-input,#hidden-question"
            hx-swap="innerHTML">
        Submit Answer
    </button>
    <div id="result"></div>
    <input type="hidden" name="question" id="hidden-question"/>
</div>